
  .hidden{display: none;}
  
  .panel{
    border-radius: 3px;
    background-color: rgba(255,255,255,0.6);
    padding: 2%;
  }

  .img256 {
    max-width: 256px;
    min-width: 256px;
    width: 256px;
}

.image-center {
  display:table-cell; 
  vertical-align:middle; 
  text-align:center;
}